@import url("base.css");

table,
p,
div
{
	font-family: Arial;
	color: Black;
	font-weight: normal;
	overflow: hidden;
}

span
{
	font-size: 12px;
}

.inp
{
    background: ;
    border-style: none;
    border-color: inherit;
    border-width: 0px;
    text-decoration: none;
}

#content
{
    width:1280px;
    height:1024px;
    position:relative;
}

#qiwi_logo
{
	width: 86px;
	height: 140px;
	position: absolute;
	left: 20px;
	top: 20px;
	background: url('../img/ui/qiwicel.gif') no-repeat;
}

#block
{
    margin:12px 0px 0px 0px;
    position:relative;
    width:820px;
    height:852px;
}

#block_up
{
    width:820px;
    height:592px;
    position:relative;
}

#block_down
{
    width:820px;
    height:260px;
    position:relative;
}

#input_summ
{
    width:820px;
    height:152px;
    background:url('../img/ui/es/block1.png');
}

.info_block
{
    width:820px;
    height:70px;
    position:relative;
}

#min_max
{
    position:absolute;
    top:15px;
    left:15px;
    width:790px;
    height:18px;
    font-size:16px;
    text-align:left;
}

#alert_min
{
    position:absolute;
    top:40px;
    left:15px;
    width:790px;
    height:25px;
    font-size:24px;
    text-align:left;
    display:none;
}

#summ_info
{
    position:absolute;
    top:5px;
    left:15px;
    width:790px;
    height:18px;
    font-size:16px;
    text-align:left;
}

#summ_info2
{
    margin-top:7px;
    margin-left:15px;
    width:100%;
    height:18px;
    font-size:16px;
    text-align:left;
}

#automat_info
{
    position:absolute;
    top:25px;
    left:15px;
    width:790px;
    height:42px;
    font-size:40px;
    text-align:left;
}

#real_summ
{
    width:820px;
    height:78px;
    background:url('../img/ui/es/block2.png');
}

#real_summ2
{
    width:806px;
    height:42px;
    float:right;
    font-size:40px;
    text-align:left;
}

#comiss_block
{
    margin-top: 25px;
    width:806px;
    height:42px;
    float:right;
    font-size:40px;
    text-align:left;
}

#comiss_block2
{
    margin-top: 25px;
    width:806px;
    height:44px;
    float:right;
    font-size:40px;
    text-align:left;
}

#summ_c
{
    width:288px;
    height:70px;
    position:absolute;
    top:60px;
    left:504px;
}

#summ_c_b1
{
    width:195px;
    height:70px;
    font-size:65px;
}

#getAmount
{
    width:195px;
    height:70px;
    text-align:right;
    font-size:65px;
    font-weight:bold;
}

#summ_c_b2
{
    width:86px;
    height:70px;
    font-size:42px;
    padding:24px 0px 0px 9px;
}

#real_c
{
    width:203px;
    height:54px;
    position:absolute;
    top:7px;
    left:590px;
}

#real_c_b1
{
    width:145px;
    height:54px;
    padding-top:9px;
}

#real_c_b2
{
    width:55px;
    height:54px;
    font-size:26px;
    padding:22px 0px 0px 3px;
}

#really_summ
{
    width:145px;
    height:40px;
    text-align:right;
    font-size:40px;
    font-weight:bold;
}

#table_content
{
    float:left;
    width:820px;
    height:250px;
    margin:10px 0px 0px 0px;
    position:relative;
}

.table_line
{
    width:550px;
    height:2px;
    float:left;
    background:#cbcbcb;
}

#coin_line
{
    width:820px;
    margin:0 auto;
    font-size:18px;
    text-align:left;
    padding-left:15px;
}

.table_block
{
    width:820px;
    margin:0 auto;
    font-size:18px;
    text-align:left;
    padding-left:15px;
}

.t_b_left
{
    width:200px;
    height:100%;
    float:left;
    text-align:left;
}

.t_b_right
{
    width:450px;
    height:100%;
    float:left;
    text-align:left;
}

#table_head
{
    width:820px;
    height:45px;
}

#t_h_left
{
    width:200px;
    height:45px;
    float:left;
    font-size:18px;
    text-align:left;
    padding:12px 0px 0px 15px;
    background:#e3e3e3;
}

#t_h_right
{
    width:350px;
    height:45px;
    float:left;
    font-size:18px;
    text-align:left;
    padding:12px 0px 0px 15px;
    background:#e3e3e3;
}

#coin_string_temp
{
   float:left;
   margin-left:17px;
   display:block;
}

#coin_string
{
   float:left;
   margin:70px 0px 0px 15px;
   font-size:40px;
   display:none;
}

.coin_comiss
{
    position: absolute;
	width: 240px;
	height: 43px;
	display:none;
}

#coin_div
{
	top: 490px;
	left: 810px;
}

#komiss_div
{
	top: 472px;
	left: 810px;
}

#komiss_div2
{
	top: 555px;
	left: 810px;
}

#real_summ2_div
{
	top: 380px;
	left: 810px;
}

#coin_p,
#komiss_p,
#komiss_p2,
#real_summ_p
{
	width: 55px;
	font-size: 26px;
	font-weight: normal;
	text-align: center;
	margin-top: 12px;
}

#coin,
#komiss,
#komiss2,
#really_summ2
{
	width: 155px;
	height:40px;
	font-size: 40px;
	font-weight: bolder;
	text-align: right;
}

#message
{
    position:absolute;
    top:686px;
    left:979px;
    width:255px;
    height:188px;
    display:none;
}

#wait
{
    width:183px;
    height:36px;
    position:absolute;
    top:837px;
    left:1015px;
    display:none;
}

#btn_right
{
    filter:alpha(opacity=30);
}