@import url("base.css");

#txt
{
    width: 100%;
    text-align: center;
    color: Gray;
    font-size: 42px;
    margin-top: 400px;
}

#bottom_menu
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 1280px;
    padding: 0px 30px 15px 30px;
}

#content
{
    width: 1280px;
    height: 1024px;
}
