	

	#EXIT_URL:index.html
	#TOP_ADVERT:Больше возможностей на сайте: WWW.QIWI.RU
	#BOTTOM_ADVERT:Телефон поддержки Visa QIWI Wallet:\n 8(800) 555-74-94 
	#PHONE_PATH:phones.txt
	#PHONE_ERROR_PATH:phones_er.txt
	
	#URL_QIWI_OFERTA:QK_oferta_full.xml
	#URL_BANK_OFERTA:QK_oferta_bank.xml
	
	#MAX_SUMM:15000
	
	#MESSAGE:Минимальная сумма платежа 1,00 руб.\nМаксимальная сумма платежа с учетом комиссии 15000 руб.\nПеревод доступен для получения через 10-15 мин. после отправления.
	
	#phoneMinMax:ObjectData
			RUS { code:'+7', min:10, max:10 , format:'(###)###-##-##', name:'Россия', rcode:643, hasChoose: 0, defaultCurrency: 'rur' } 
			UKR { code:'+380', min:9, max:9 , format:'#########', name:'Украина', rcode:804 , hasChoose: 1} 
			TJK { code:'+992', min:9, max:9 , format:'#########', name:'Таджикистан', rcode:762 , hasChoose: 1}
			KGZ { code:'+996', min:9, max:9 , format:'#########', name:'Кыргызстан', rcode:417 , hasChoose: 1}
			BLG { code:'+375', min:9, max:9 , format:'#########', name:'Беларусь', rcode:112, hasChoose: 1 }
			GEO { code:'+995', min:8, max:8 , format:'########', name:'Грузия', rcode:268 , hasChoose: 1}
			MD  { code:'+373', min:8, max:8 , format:'########', name:'Молдова', rcode:498 , hasChoose: 1}
			UZB  { code:'+998', min:9, max:9 , format:'########', name:'Узбекистан', rcode:860 , hasChoose: 0, defaultCurrency: 'usd'}
			AZE  { code:'+994', min:9, max:9 , format:'########', name:'Азербайджан', rcode:31 , hasChoose: 1}
		
	#pCommis:ObjectData
			TYPE1 { from:0, to:3001, commis:60 }
			TYPE2 { from:3001, to:9001, commis:200 }
			TYPE3 { from:9001, to:15000, commis:300 }
			

	


