<div class="qwerty-layout">
    <div id="info-favourites">
        Данные, которые Вы указали будут сохранены в Вашем Visa QIWI Wallet. Вы сможете ими воспользоваться при
        следующей оплате кредита или пополнении счета.
    </div>
    <div id="erase"></div>
    <div id="textfield">
        <div class="text-container"></div>
    </div>
    <div id="keyboard">
        <table id="row-0">
            <tr>
                <td id="key-0-0"></td>
                <td id="key-0-1"></td>
                <td id="key-0-2"></td>
                <td id="key-0-3"></td>
                <td id="key-0-4"></td>
                <td id="key-0-5"></td>
                <td id="key-0-6"></td>
                <td id="key-0-7"></td>
                <td id="key-0-8"></td>
                <td id="key-0-9"></td>
            </tr>
        </table>
        <table id="row-1">
            <tr>
                <td id="key-1-0"></td>
                <td id="key-1-1"></td>
                <td id="key-1-2"></td>
                <td id="key-1-3"></td>
                <td id="key-1-4"></td>
                <td id="key-1-5"></td>
                <td id="key-1-6"></td>
                <td id="key-1-7"></td>
                <td id="key-1-8"></td>
                <td id="key-1-9"></td>
                <td id="key-1-10"></td>
                <td id="key-1-11"></td>
            </tr>
        </table>
        <table id="row-2">
            <tr>
                <td id="key-2-0"></td>
                <td id="key-2-1"></td>
                <td id="key-2-2"></td>
                <td id="key-2-3"></td>
                <td id="key-2-4"></td>
                <td id="key-2-5"></td>
                <td id="key-2-6"></td>
                <td id="key-2-7"></td>
                <td id="key-2-8"></td>
                <td id="key-2-9"></td>
                <td id="key-2-10"></td>
            </tr>
        </table>
        <table id="row-3">
            <tr>
                <td id="key-3-0"></td>
                <td id="key-3-1"></td>
                <td id="key-3-2"></td>
                <td id="key-3-3"></td>
                <td id="key-3-4"></td>
                <td id="key-3-5"></td>
                <td id="key-3-6"></td>
                <td id="key-3-7"></td>
                <td id="key-3-8"></td>
                <td id="key-3-9"></td>
            </tr>
        </table>
        <table id="row-4">
            <tr>
                <td id="key-shift"></td>
                <td id="key-4-0"></td>
                <td id="key-space"></td>
                <td id="key-4-1"></td>
                <td id="key-langswitch"></td>
            </tr>
        </table>
    </div>
</div>